<<<<<<< HEAD
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(
    to bottom,
    #B2D9E7 0%,
    #FFFFFF 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
>>>>>>> 3e14db1db4ee8088000083ae8593ce5e0f825ca2
