/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");
<<<<<<< HEAD


@import "tailwindcss";


@import 'lenis/dist/lenis.css';

=======
@import "tailwindcss";
@import "tailwindcss/utilities";


>>>>>>> 3e14db1db4ee8088000083ae8593ce5e0f825ca2

/* =========================
   BOUNDED
========================= */
@font-face {
  font-family: "Bounded";
  src: url("/fonts/Bounded-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* =========================
   EUCLID CIRCULAR B
========================= */
@font-face {
  font-family: "Euclid Circular B";
  src: url("/fonts/Euclid-Circular-B-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular B";
  src: url("/fonts/Euclid-Circular-B-Light-Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular B";
  src: url("/fonts/Euclid-Circular-B-Regular.ttf") format("truetype");
<<<<<<< HEAD
=======
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular B";
  src: url("/fonts/Euclid-Circular-B-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular B";
  src: url("/fonts/Euclid-Circular-B-Medium-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular B";
  src: url("/fonts/Euclid-Circular-B-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular B";
  src: url("/fonts/Euclid-Circular-B-SemiBold-Italic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular B";
  src: url("/fonts/Euclid-Circular-B-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular B";
  src: url("/fonts/Euclid-Circular-B-Bold-Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@layer utilities {
  .font-bounded {
    font-family: "Bounded", sans-serif;
  }

  .font-euclid {
    font-family: "Euclid Circular B", sans-serif;
  }

  .font-unbounded {
    font-family: "Unbounded", sans-serif;
  }
}

*, *::before, *::after{
	box-sizing: border-box;

}

.joinbtn{
  padding: 0.5em 1.25em;
  font-size: 1rem;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
>>>>>>> 3e14db1db4ee8088000083ae8593ce5e0f825ca2
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular B";
  src: url("/fonts/Euclid-Circular-B-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

<<<<<<< HEAD
@font-face {
  font-family: "Euclid Circular B";
  src: url("/fonts/Euclid-Circular-B-Medium-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
=======
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  
  
  padding: 0.4em 1.2em;

  
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
>>>>>>> 3e14db1db4ee8088000083ae8593ce5e0f825ca2
}

@font-face {
  font-family: "Euclid Circular B";
  src: url("/fonts/Euclid-Circular-B-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular B";
  src: url("/fonts/Euclid-Circular-B-SemiBold-Italic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular B";
  src: url("/fonts/Euclid-Circular-B-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular B";
  src: url("/fonts/Euclid-Circular-B-Bold-Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@layer utilities {
  .font-bounded {
    font-family: "Bounded", sans-serif;
  }

  .font-euclid {
    font-family: "Euclid Circular B", sans-serif;
  }

  .font-unbounded {
    font-family: "Unbounded", sans-serif;
  }

}

<<<<<<< HEAD
.mask-big {
--tl-size: 8vw;
--tr-size: 0vw;
--br-size: 8vw;
--bl-size: 0vw;
--offset: 1px;

-webkit-mask-mode: alpha;
-webkit-mask:
linear-gradient(#000 0 0),
url("/src/assets/stats/svg/TL-CountUp100k.svg") no-repeat,
url("/src/assets/stats/svg/TR-CountUp100k.svg") no-repeat,
url("/src/assets/stats/svg/BR-CountUp100k.svg") no-repeat,
url("/src/assets/stats/svg/BL-CountUp100k.svg") no-repeat;

-webkit-mask-size:
100% 100%,
var(--tl-size) var(--tl-size),
var(--tr-size) var(--tr-size),
var(--br-size) var(--br-size),
var(--bl-size) var(--bl-size);

-webkit-mask-position:
0 0,
calc(0% - var(--offset)) calc(0% - var(--offset)),
calc(100% + var(--offset)) calc(0% - var(--offset)),
calc(100% + var(--offset)) calc(100% + var(--offset)),
calc(0% - var(--offset)) calc(100% + var(--offset));

-webkit-mask-composite: destination-out;

mask-mode: alpha;
mask:
linear-gradient(#000 0 0),
url("/src/assets/stats/svg/TL-CountUp100k.svg") no-repeat,
url("/src/assets/stats/svg/TR-CountUp100k.svg") no-repeat,
url("/src/assets/stats/svg/BR-CountUp100k.svg") no-repeat,
url("/src/assets/stats/svg/BL-CountUp100k.svg") no-repeat;

mask-size:
100% 100%,
var(--tl-size) var(--tl-size),
var(--tr-size) var(--tr-size),
var(--br-size) var(--br-size),
var(--bl-size) var(--bl-size);

mask-position:
0 0,
calc(0% - var(--offset)) calc(0% - var(--offset)),
calc(100% + var(--offset)) calc(0% - var(--offset)),
calc(100% + var(--offset)) calc(100% + var(--offset)),
calc(0% - var(--offset)) calc(100% + var(--offset));

mask-composite: exclude;
}

.mask-mid {
--tl-size: 0vw;
--tr-size: 0vw;
--br-size: 4vw;
--bl-size: 0vw;
--offset: 1px;

-webkit-mask-mode: alpha;
-webkit-mask:
linear-gradient(#000 0 0),
url("/src/assets/stats/svg/TL-CountUp100k.svg") no-repeat,
url("/src/assets/stats/svg/TR-CountUp100k.svg") no-repeat,
url("/src/assets/stats/svg/BR-CountUp75.svg") no-repeat,
url("/src/assets/stats/svg/BL-CountUp100k.svg") no-repeat;

-webkit-mask-size:
100% 100%,
var(--tl-size) var(--tl-size),
var(--tr-size) var(--tr-size),
var(--br-size) var(--br-size),
var(--bl-size) var(--bl-size);

-webkit-mask-position:
0 0,
calc(0% - var(--offset)) calc(0% - var(--offset)),
calc(100% + var(--offset)) calc(0% - var(--offset)),
calc(100% + var(--offset)) calc(100% + var(--offset)),
calc(0% - var(--offset)) calc(100% + var(--offset));

-webkit-mask-composite: destination-out;

mask-mode: alpha;
mask:
linear-gradient(#000 0 0),
url("/src/assets/stats/svg/TL-CountUp100k.svg") no-repeat,
url("/src/assets/stats/svg/TR-CountUp100k.svg") no-repeat,
url("/src/assets/stats/svg/BR-CountUp75.svg") no-repeat,
url("/src/assets/stats/svg/BL-CountUp100k.svg") no-repeat;

mask-size:
100% 100%,
var(--tl-size) var(--tl-size),
var(--tr-size) var(--tr-size),
var(--br-size) var(--br-size),
var(--bl-size) var(--bl-size);

mask-position:
0 0,
calc(0% - var(--offset)) calc(0% - var(--offset)),
calc(100% + var(--offset)) calc(0% - var(--offset)),
calc(100% + var(--offset)) calc(100% + var(--offset)),
calc(0% - var(--offset)) calc(100% + var(--offset));

mask-composite: exclude;
}
=======

>>>>>>> 3e14db1db4ee8088000083ae8593ce5e0f825ca2
